<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{titleValue}}</a>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" 
            data-toggle="dropdown">BUTTON
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" (click)="myFunctionOne()">one</a></li>
          <li><a href="#" (click)="myFunctionTwo()">two</a></li>
          <li><a href="#" (click)="myFunctionThree()">three</a></li>
          <li><a href="#" (click)="myFunctionFour()">four</a></li>
        </ul>
      </div>
</nav>
 